%ul.nav.pull-right
  %li#signup= link_to "Sign Up", signup_path
  %li
    = form_for(:session, url: sessions_path, html: {id: 'form_signin'}) do |f|
      = f.text_field :email, id:'email', placeholder: "Email"
      = f.password_field :password, id:'password', placeholder: "Password"
      = button_tag( id:'btnSignin') do 
        <i class="icon-circle-arrow-right"></i>
    