.row-fluid
  = form_for(@object_repository, :format => :js,remote: true, :html => {class:'form-inline'}) do |f|
    - if @object_repository.errors.any?
      #error_explanation.alert.alert-error
        = pluralize(@object_repository.errors.count, "error")
        prohibited this OR from being saved:
        %ul
          - @object_repository.errors.full_messages.each do |msg|
            %li= msg
    .row-fluid
      %p
        = f.hidden_field :user_id, :value => current_user.id
    .row-fluid
      %p
      .span2
        = f.label :name
      .span6
        = f.text_field :name
    .row-fluid
      %p
      .span2
        = f.label :description
      .span6
        = f.text_area :description
    .row-fluid
      %p
      .span2
        = f.label :url
      .span6
        = f.text_field :url
    .row-fluid
      %p
      .span2.offset2
        = f.submit class:'btn btn-primary radius'
