<div id="display-area" class="row-fluid">
  <div class="row-fluid"><h4 id="menu-bar">Object Repositories:</h4></div>
  <%= render 'layouts/flash' %>
  <table class="table table-bordered table-hover ">
    
    <tr class="info">
      <td>Name</td>
      <td>Description</td>
      <td>Url</td>
      <td>Edit</td>
      <td>Delete</td>
    </tr>
    
    <% if @object_repositories.size==0 then %>
    <tr>
      <td colspan="6">No Object repository found!</td>
    </tr>
    <% else %>
      <% @object_repositories.each do |f| %>
        <tr>
          <td><%= link_to f.name, object_repository_path(f), :remote => true, id: "show_#{f.id}_link" %></td>
          <td><%= f.description %></td>
          <td><%= f.url %></td>
          <td><%= link_to "", edit_object_repository_path(f, :format => :js),:remote => true, :id => 'edit_object_repository_link', class: 'btn btn-small icon-pencil' %></td>
          <td><%= link_to "", object_repository_path(f), method: :delete, :remote => true, data: { confirm: "Are you sure you want to delete \'#{f.name}\'?" }, class:  'btn btn-small icon-trash' %></td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>