<div id="tab-content">
	<%= render(:partial => "layouts/flash") %>
	<div id="ts-list" class="row-fluid">
		<h4 id="menu-bar">Test Suites Avaliable:</h4>
		<table class="table table-bordered table-hover" id="view_table">
			<tr class="info">
				<td>Name</td>
				<td>Description</td>
				<td>Number of TCs</td>
				<td style="text-align:center;" colspan="3">Options</td>
			</tr>
			<% if !(@test_suites.size==0) then %>
				<% @test_suites.each do |f| %>
					<tr id='<%= "test_suite_#{f.id}" %>'>
						<td><%= link_to "#{f.name}", test_suite_path(f, :format => :js), remote:true  %></td>
						<td><%= f.description %></td>
						<td><%= f.tests.count %></td>
						<td><%= link_to "", edit_test_suite_path(id: f.id), remote:true, class: 'btn btn-small icon-pencil' %></td>
						<td><%= link_to "", test_suite_path(id: f.id), method: :delete, remote: true,data: {confirm: "Are you sure you want to delete test suite \'#{f.name}\'?"}, class: 'btn btn-small icon-trash' %></td>
						<td><div class="btn btn-small icon-wrench disabled"></div></td>
					</tr>
				<% end %>
			<% else %>
				<tr>
					<td colspan='6'>There are no test suites!</td>
				</tr>
			<% end %>
		</table>
	</div>
	<div id="test-list" class="row-fluid">
	</div>
</div>