#tab-content
	.row-fluid
		%span Test Steps in 
		%span.label.label-info= "#{@test_suite.name} >> #{@test.name}"
	%br
	#menu-bar.row-fluid
		.btn-group
			= link_to "Create Test Step",new_test_test_step_path(test_suite_id: @test_suite.id,test_id: @test.id), remote: true, class: 'btn btn-primary btn-small'
	%br
	= render(:partial => "layouts/flash")
	.row-fluid#test-contents
		%table.table.table-bordered.table-hover
			%tbody
				%tr.info
					%td Test Step Name
					%td Test Step Description
					%td Expected Result
					%td Web Element
					%td Function
					%td Value
					%td Status
					%td Last Run
					%td{colspan: 4, style: 'text-align: center;'} Options
				- if @test.test_steps.count==0 then 
					%tr
						%td{colspan:'9'} There are no test steps!
				- @test_steps.each do |t|
					%tr{id: "tr_#{t.id}"}
						%td= "#{t.step_name}"
						%td= "#{t.step_description}"
						%td= "#{t.expected}"
						- if t.element_id
							%td= "#{t.page_name}.#{WebElement.find(t.element_id).element_name}"
						- else
							%td
						%td= "#{t.function}"
						%td= "#{t.value}"
						%td= "#{t.status}"
						- if t.last_run
							%td= "#{t.last_run.strftime("%d-%m-%Y at %H:%M:%S")}"
						- else
							%td No Run
						%td= link_to "", edit_test_test_step_path(@test.id,t.id),remote: true, class: 'btn btn-small icon-pencil'
						%td= link_to "", test_test_step_path(@test.id,t.id), method: :delete, data: {confirm: "Are you sure you want to delete test step \'#{t.step_name}\'?"}, remote: true,class: 'btn btn-small icon-trash'
						- if !ExecProgress.where(user_id: current_user.id, test_step_id: t.id).first.nil?
							%td= image_tag 'step.gif', id: "exec_st_#{t.id}", :'data-toggle' => 'tooltip', title: "Executing '#{t.step_name}'"
						- else
							%td= link_to "", exec_test_step_path(test_step_id: t.id), remote: true, class: 'btn btn-small icon-wrench', id: "exec_st_#{t.id}"
						%td= link_to "", add_ts_to_queue_path(test_step_id: t.id), remote: true, class: 'btn btn-small icon-shopping-cart', id: "queue_st_#{t.id}"
