#tab-content
	= render 'layouts/flash'
	.row-fluid
		%span.label.label-info Available Reports:
	%br
	%table.table.table-bordered.table-hover
		%tr.info
			%td Report Name
			%td Last Run
			%td Options
		- @reports.each do |r|
			%tr{id: "report_#{r.name}"}
				%td= link_to r.name, queue_show_report_path(job_id: r.job_id), remote: true
				%td= r.last_run.strftime('%H:%M:%S on %d-%m-%Y')
				%td= link_to "",queue_delete_report_path(name: r.name), method: :delete, remote:true, data: {confirm: "Are you sure you want to delete #{r.name}?"},class:'btn btn-small icon-trash'