#tab-content
	#imageFrame
	.row-fluid
		%span.label.label-info Report Name:
		%span= @reports.first.name
	%br
	.row-fluid
		%span.label.label-info Test Suite Name:
		%span= @test_suite.name
	%br
	.row-fluid
		%span.label.label-info Test Name:
		%span= @test.name
	%br
	%table.table.table-bordered.table-hover
		%tr.info
			%td S. No.
			%td Description
			%td Status
			%td Executed on
		- @counter = 1
		- @reports.each do |report_step|
			- if report_step.status=='Pass'
				%tr.success
					%td= @counter
					%td= report_step.description
					%td= report_step.status
					%td= report_step.created_at.strftime('%d-%m-%Y at %H:%M:%S')
			- elsif report_step.status=='Fail'
				%tr.warning
					%td= @counter
					%td= link_to raw("<i class='icon-tag'> </i> #{report_step.description}"), queue_view_error_path(job_id: report_step.job_id, desc: report_step.description), remote: true, data: {toggle: 'tooltip'}, title: 'Click to see error screenshot'
					%td= report_step.status
					%td= report_step.created_at.strftime('%d-%m-%Y at %H:%M:%S')
			- else
				%td= @counter
				%td= report_step.description
				%td= report_step.status
				%td= report_step.created_at.strftime('%d-%m-%Y at %H:%M:%S')
			- @counter += 1
	.row-fluid
		%span.label.label-info Final Status:
		- if @final_status == 'Fail'
			%span.label.label-fail Fail
		- elsif @final_status == 'Pass'
			%span.label.label-success Pass
		- else
			%span.label= @final_status