#imageFrame
	#imageModal.modal.hide.fade
		.modal-header
			= "Error for '#{@description}'"
			%button.close{:'data-dismiss'=>"modal"} ×
		- if File.exists? "#{Rails.public_path}/errors/#{@user_name}/#{@file_name}"
			%img{src: "errors/#{@user_name}/#{@file_name}"}
		- else
			%img{src: "404.jpg"}
	:javascript
		$('#imageModal').modal('toggle')