#imageFrame
	#imageModal.modal.hide.fade
		.modal-header
			= "#{@error_name}_Error"
			%button.close{:'data-dismiss'=>"modal"} ×
		- if File.exists? "#{Rails.public_path}/errors/#{@user_name}/#{@error_name}_error.png"
			%img{src: "errors/#{@user_name}/#{@error_name}_error.png"}
		- else
			%img{src: "404.jpg"}
	:javascript
		$('#imageModal').modal('toggle')